#main {
	width: 40%;
	margin-left: 3%;
}

aside {
	float: left;
	margin-top: 20px;
}

#courses {
	float: left;
	width: 90%;
}

.course {
	width: 100%;
	margin-bottom: 10px;
	float: left;
	font-family: 'Robota Slab', serif;
	font-size: 1.2em;
	color:#646464;
}

.course>img {
	border: 2px solid #dfdfdf;
	border-radius: 5px;
	height: 50px;
	width: 90px;
	float: left;
	margin-right: 10px;
}

.course>span {
	float: right;
	font-weight: bold;
	color: rgba(217, 91, 72, 1);
}

.course>a>.btn {
	float: left;
	margin-left: 30%;
}

#one_course {
	float: left;
	margin-top: 10px;
}

#one_course>img{
	width: 80%;
	float:left:
}

/*немного дороботать*/

@media (min-width: 1051px) {
	#main {
	width: 50%;
	margin-left: 3%;
}

	aside {
	width: 40%;
	margin-left: 2%;
	}
		
	#naws {
	width: 90%;
	margin-left: 10%;
}	
		
}

@media (max-width: 1050px) and (min-width: 911px) {
	#main {
	width: 65%;
	margin-left: 2%;
}

	aside {
	width: 32%;
	}
		
	#naws {
	width: 96%;
	margin-left: 4%;
}	
		
}

@media (max-width: 911px) and (min-width: 500px) {
	#main {
	width: 90%;
	margin-left: 5%;
}

	aside {
	width: 50%;
	margin-left: 25%;	
	}
		
	#naws {
	width: 96%;
	margin-left: 4%;
}	
		
}

@media (max-width: 499px) {
	#main {
	width: 90%;
	margin-left: 5%;
}

	aside {
	width: 80%;
	}
		
	#naws {
	width: 90%;
	margin-left: 4%;
}	
		
}

@media (min-width: 1220px) {
	.article {
		width: 40%;
		margin-right: 10%;
	}
}

@media (min-width: 1219px) and (min-width: 650px) {
	.article {
		width: 45%;
		margin-right: 5%;
	}
}
	
@media (max-width: 649px) and (min-width: 500px) {
	.article {
		width: 70%;
		margin-right: 15%;
	}
}

@media(max-width: 499px) {
	.article{
		width: 90%;
		margin-right: 5%;
	}
}

@media (max-width: 600px) {
	#courses>a>.btn {
		margin-left: 5%! important;
	}
}

@media (max-width: 440px) {
	#main>a>.btn {
	margin-left: 5%! important;		
	}
}


.heading {
	font-weight: lighter;
	font-size: 1.4em;
	font-family: 'Robota Slab', serif;
	border-bottom: 2px solid #db6e6e;
	float: left;
	color: #4f4f4f;
	padding: 0px 5px;
}

.heading:first-letter {
	color: #db6e6e;
}

.article {
	width: 40%;
	float: left;
	margin-right: 10%;
	margin-bottom: 20px;
	border: 2px solid #e3e3e3;
	background-color: #fff;
	box-sizing: border-box;
	max-width: 350px;
	border-radius: 5px;
}

.article>img {
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 100px;
}

#naws>a>.btn {
	margin-bottom: 20px;
	float: left;
	margin-left: 30%;
}

#naws {
	float: left;
}

.article>span {
	font-family: 'Robota Slab', serif;
	font-size: 1.2em;
	width: 80%;
	margin: 7px 10%;
	float: left;
	text-align: center;
	color:#333;
}


/*Нижняя часть сайта*/
#subscribe {
    float: left;
	margin-left: 120px;
	margin-bottom: 20px;
	position: relative;
}
	
@media (min-width: 911px) {
	#subscride {
		width: 70%;
	}
}

#sub_to_project {
	width: 25%;
}

@media (max-width: 910px) {
	#subscride {
		width: 100%;
	}
}
 
sub_to_project {
	width: 80%;
	margin-left: 10%;
}

#sub_to_project {
	float: left;
	margin-bottom: 20px;
}



#web_sites {
	widows: 98%;
	border-top: 2px solid #d7d7d7;
	position: relative;
	padding: 1%;
	background-color: #efefef;
	text-align: center;
	min-height: 150px;
}

#web_sites>span {
	font-family:'Roboto Slab', serif;
	font-size: 2.5em;
	color: #434343;
    position: absolute;
	margin: 0;
	top: 28%;
	left: 48%;
	margin-right: -50%;
}

#web_sites>a>.btn{
	position: absolute;
	margin: 0;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%; -80%;);
	font-size: 2em;
	background-color: #21a7e1;
	border-bottom-color: #1999d1;
	text-align: center;
}



.articlee {
	float: left;
	margin-left: 35px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: 2px solid #e3e3e3;
	background-color: #fff;
	box-sizing: border-box;
	max-width: 350px;
	border-radius: 5px;
}

.articlee>img {
	border-radius: 5px 5px 0 0;
	width: 550px;
	height: 300px;
}

.articlee>span {
	font-family: 'Robota Slab', serif;
	font-size: 1.2em;
	width: 80%;
	margin: 7px 10%;
	float: left;
	text-align: center;
	color:#333;
}

.sena {
	font-family: 'Robota Slab', serif;
		font-size: 1.8em;
}

.imge {
	height: 100px;
}




